*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Calibri, 'Trebuchet MS', Helvetica, sans-serif;
    background-color:rgb(143, 204, 253) ;
    flex-direction: column;
}
.gamezone{
    display:flex;
    margin:auto;
    position:relative;
    height:92vh;
    flex-direction: column;
}
#menuel{
    cursor: pointer;
}
.menu{
    position:absolute;
    top:30px;
    transform:translate(-200%); 
    display:flex;
    flex-direction:column;
    justify-content:center;
    z-index: 1;
    max-width:300px;
    width:40%;
    height:calc(100% - 30px);
    background-color:rgba(193, 254, 253,.5);
    border-radius: 5PX;
    font-size: 1.5em;
    color:rgb(18, 55, 85);
    overflow: hidden;
}
.menu a{
    margin-bottom:1.3em;
    margin-left: 1.5em;
    cursor: pointer;
}
.lives{
    margin:.1em auto .1em;
    color:rgb(199, 30, 30);
    font-size:1.8em;
    font-weight: bold;
    text-align: center;
}
.lives p{
    color:rgb(50, 43, 177);
}
.memory-card-game{
    max-width:100vw;
    position: relative;
    width:550px;
    height:100%; 
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.card{
    cursor: pointer;
    width:calc(25% - 10px);
    height:calc(33.333% - 10px);
    position: relative;
    margin:5px;
    transform:scale(1);
    transform-style:preserve-3d;
    transition:transform .5s;
}
.card:active
{
    transform:scale(.97);
    transition:0.2s;
}
.card.flip{
    transform:rotateY(180deg); 
}
.front,.back{
    position:absolute;
    width:100%;
    height:100%;
    padding:8px;
    border-radius:5px;
    background-color:rgb(193, 254, 253);
    backface-visibility:hidden;
}
.front{
    transform:rotateY(180deg);   
}
.message{
    color:rgb(50, 43, 177);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size:1.8em;
    font-weight:bold;
    display:flex;
    flex-direction: column;
    margin-top: 35px;
    align-items: center;
}
.message button{
    display:none;
    padding:10px;
    font-size:.6em;
    font-weight:bold;
    color:rgb(50, 43, 177);
    background-color:rgb(210, 218, 218);
    border:solid 3px rgb(50, 43, 177);;
    margin:35px;
    border-radius:7px;
}
.message button:active{
    background-color:rgb(180, 185, 185);
}
@media only screen and (max-width:450px)
{
    .card{
        width:calc(33.333% - 10px);
        height:calc(25% - 10px);
    }
    .gamezone{
        border:none;
        margin-top:0;
    }
    .menu{
        font-size:1.4em;
    }
    .menu a{
        margin-left:10px;
    }
}